.containerExplore {
    display: flex;
    flex-direction: column;                
    max-width: 100%;
    margin-left: 40px;
}

.containerExplore>h1{
    color:var(--color-light)
}

.outerContainer{
    display:flex;
    flex-direction: row;
    margin-top: 100px;
    backdrop-filter: blur(10px);
    width:99vw;
}