.account{
    height:80vh;
    
}

.profile {
display: flex;
}
.profile-container {
    display: flex;
    display: flex; 
    flex-wrap: nowrap;  
    overflow-x: auto;   
    gap: 15px; 
    backdrop-filter: blur(10px);
    border: 1px solid var(--transparentBlack18);
    box-shadow: 0 8px 32px 0;
    padding: 10px;
    border-radius: 12px;
    max-width: 100%;   
}

.profile-info il {
margin: 10px;
font-size: 30px;
}