.header {
    background-color: var(--color-dark);
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin-right: 20px;
}

.nav-item a {
    color: var(--color-light);
    text-decoration: none;
    font-size: 18px;
}

.nav-item a:hover {
    text-decoration: underline;
    color: var(--color-primary);
}
