.sidebar {
    padding: 20px;
    color: var(--color-light);
    width: 300px;
    height:70vh;
    display: flex;
    flex-direction: column;
}

.add-item-form {
    display: flex;
    margin-bottom: 20px;
}

.add-item-input {
    flex: 1;
    padding: 10px;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    background-color: var(--color-background);
    color: var(--color-light);
}

.add-item-button {
    padding: 10px;
    background-color: var(--color-primary);
    color: var(--color-light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.add-item-button:hover {
    background-color: var(--color-secondary);
}

.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    background-color: var(--color-background); 
    color: var(--color-light); 
}

.item-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 240px;
    overflow-y: auto; 
}

.item {
    padding: 10px;
    margin: 10px 0; 
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: var(--color-secondary);
    color: var(--color-light);
}

.item:hover {
    background-color: var(--color-light);
    color: var(--color-dark);
}

@media (max-width: 700px) {
    .sidebar {
        padding: 20px;
        color: var(--color-light);
        width: 100px;
        height:70vh;
        display: flex;
        flex-direction: column;
    }

    .add-item-input {
        flex: 1;
        padding: 10px;
        border: 1px solid var(--color-primary);
        border-radius: 5px;
        background-color: var(--color-background);
        color: var(--color-light);
        width:60px;
    }

    .add-item-button {
        padding: 10px;
        background-color: var(--color-primary);
        color: var(--color-light);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 10px;
        width: 70px;
        transition: background-color 0.3s ease;
    }
    .search-input {
        width: 130%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid var(--color-primary);
        border-radius: 5px;
        background-color: var(--color-background); 
        color: var(--color-light); 
    }
    .item-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        max-height: 380px;
        overflow-y: auto; 
    }
}